.color-container{
    display: flex;
    justify-content: center;
}

.color-box{
    display: flex; 
    justify-content: center;
    width: 200px; 
    height: 200px;
    background-color: red; 
}

.color-change{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}